<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Exam - News Feed</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #eee;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
        select, input, textarea, button{
            padding: 5px 5px;
            border: none;
            font-weight: 300;
            margin: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            display: block;
            width: 100%;
            margin: 0;
        }
        .header {
            background: #404258;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .header h1 {
            color: #eee;
        }
        .container {
            width: 960px;
            align-items: center;
            display: flex;
        }
        .filter-bar {
            background: #6B728E;
            display: flex;
            justify-content: center;
            padding: 25px 0;
        }
        .filter-wrapper {
            padding: 0 50px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .btn-search {
            background: #404258;
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
        }
        .news-wrapper {
            display: flex;
            justify-content: center;
            padding: 40px 0;
        }
        .news-wrapper .container{
            display: block;
        }
        .news-wrapper h4{
            text-align: center;
            margin-bottom: 30px;
        }
        .box-wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .box-wrapper .box-item {
            width: 32.33%;
            background: #fff;
            margin-bottom: 10px;

        }
        .box-wrapper .box-item .box-content {
            padding: 10px;
        }
        .box-wrapper .box-item .box-content .btn-details {
            background: #404258;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
            display: block;
            width: fit-content;
        }
        .box-wrapper .box-item span {
            color: #B2B2B2;
            font-weight: 300;
        }
        .box-wrapper .box-item p {
            font-weight: 300;
        }
        .box-wrapper .box-item h3 {
            margin-bottom: 5px;
            cursor: pointer;
        }
        .box-wrapper .box-item .img-container {
            width: 310px;
            height: 250px;
            overflow: hidden;
        }
        .box-wrapper .box-item .img-container img{
            width: 100%;
            height: 100%;
        }
        .box-wrapper .box-item .box-footer {
            border-top: solid 1px #eee;
            padding: 10px;
        }
        .newsDetail {
            display: flex;
            justify-content: center;
            padding: 30px 0;
        }
        .newsDetail .container{
            display: block;
        }
        .newsDetail .action-container {
            margin-bottom: 10px;
            text-align: right;
        }
        .newsDetail .post-detail {
            display: block;
        }
        .newsDetail .post-detail .img-detail {
            overflow: hidden;
            width: auto;
            height: auto;
            margin-bottom: 10px;
        }
        .author-date-wrapper {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
        }
        .newsDetail p {
            width: 100%;
            display: block;

        }
    </style>
</head>
<body>

    <div id="app">
        <div class="header">
            <div class="container">
                <h1>News Feed - Using Vue</h1>
            </div>
        </div>
        <section class="filter-bar" v-if="!viewDetails">
            <div class="container">
                <div class="filter-wrapper">
                    <select name="categories" id="categories" style="margin-right: 10px" v-model="countries">
                        <option value="">--Please choose Country --</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="ar">Argentina</option>
                        <option value="at">Austria</option>
                        <option value="au">Australia</option>
                        <option value="be">Bermuda</option>
                        <option value="bg">Belize</option>
                        <option value="br">Bahrain</option>
                        <option value="ca">Canada</option>
                        <option value="ch">Switzerland</option>
                        <option value="cn">China</option>
                        <option value="co">Comoros</option>
                        <option value="cu">	Cuba</option>
                        <option value="cz">Czech Republic</option>
                        <option value="de">Germany</option>
                        <option value="eg">Egypt</option>
                        <option value="fr">France</option>
                        <option value="gr">Greece</option>
                        <option value="hk">Hong Kong</option>
                        <option value="hu">Hungary</option>
                        <option value="id">Indonesia</option>
                        <option value="ie">Ireland</option>
                        <option value="il">Israel</option>
                        <option value="in">India</option>
                        <option value="it">taly</option>
                        <option value="jp">	Japan</option>
                        <option value="kr">Korea, Republic of</option>
                        <option value="lt">Lithuania</option>
                        <option value="lv">Latvia</option>
                        <option value="ma">Macau</option>
                        <option value="mx">Mexico</option>
                        <option value="my">Mauritania</option>
                        <option value="ng">Niger</option>
                        <option value="nl">Netherlands</option>
                        <option value="no">Norway</option>
                        <option value="nz">New Zealand</option>
                        <option value="ph">Philippines</option>
                        <option value="pl">Poland</option>
                        <option value="pt">Portugal</option>
                        <option value="ro">Romania</option>
                        <option value="rs">Marshall Islands</option>
                        <option value="ru">Russia Federation</option>
                        <option value="sa">Saudi Arabia</option>
                        <option value="se">Sweden</option>
                        <option value="sg">Singapore</option>
                        <option value="si">Slovenia</option>
                        <option value="sk">Slovakia</option>
                        <option value="th">Thailand</option>
                        <option value="tr">Turkey</option>
                        <option value="tw">Taiwan, Province of China</option>
                        <option value="ua">Ukraine</option>
                        <option value="us">United States</option>
                        <option value="ve">Venezuela</option>
                        <option value="za">Zambia</option>
                    </select>
                    <select name="countries" id="countries" style="margin-right: 10px" v-model="categories">
                        <option value="">--Please choose Category --</option>
                        <option value="general">General</option>
                        <option value="business">Business</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="health">Health</option>
                        <option value="science">Science</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                    </select>
                    <input type="text" name="searchText" v-model="searchtext" placeholder="keywords (optional)" style="margin-right: 10px">
                    <button type="submit" class="btn-search" v-model.trim="searchbtn" @click="fetchSearchNews" style="margin-right: 5px">Search</button>
                    <button type="reset" class="btn-search" v-model.trim="searchbtn" @click="clearData">Reset</button>
                </div>
            </div>
        </section>
        <section class="news-wrapper" v-if="!viewDetails">
            <div class="container">
                <h4>{{totalResults}} News Result(s)</h4>
                <div class="box-wrapper">
                    <div class="box-item" v-for="(news, index) in newsData">
                       
                        <div class="img-container">
                            <img :src="news.urlToImage === null ? 'https://picsum.photos/310/250' : news.urlToImage" :alt="news.description">
                        </div>
                        <div class="box-content">
                            <a @click="handleViewDetails(index, news)"><h3>{{news.title}}</h3></a>
                            <span>{{news.author === null ? 'No Author Found' : news.author}}</span>
                            <p>{{news.description === null ? 'No Summary Found' : news.description}}</p>
                            <a class="btn-details" :href="news.url" target="_blank">Go to Page</a>
                        </div>
                        <div class="box-footer">
                            <span>Published: {{theDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsDetail" v-if="viewDetails">
            <div class="container">
                <div class="action-container">
                    <a @click="handleCloseDetails">Back to News</a>
                </div>
                <div class="post-detail">
                    <div class="img-detail">
                        <img :src="postDetails.urlToImage" :alt="postDetails.title">
                    </div>
                    <h2>{{postDetails.title}}</h2>
                    <div class="author-date-wrapper">
                        <span class="text-author">{{postDetails.author === null ? 'No Author Found' : postDetails.author}}</span>
                        <span class="text-date">{{theDate}}</span>
                    </div>
                    <p>{{postDetails.content === null ? 'No Content Found' : postDetails.content}}</p>
                </div>
            </div>
        </section>
        <div ref="infinitescrolltrigger" id="scroll-trigger">
            <i v-if="showloader" class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

    <script src="app.js"></script>
    <script></script>
</body>
</html>